# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/
.vs/
*.sln
*.xcodeproj
*.xcworkspace
*.pyc

Plugins/colyseus-unreal/
Build/
Content/Developers/
Content/Collections/
Content/__ExternalActors__/
Content/__ExternalObjects__/

tests/.tools/
tests/_compile_out/
